.App {
  min-height: 100vh;
  text-align: center;
  padding-top: 18rem;
  background-color: white;  
}

.App-link {
  color: #191919;
  text-decoration: none;
}
.App-link:hover {
  color: #4285f4;
  font-weight: 700;
  text-decoration: none;
}
